
<table border="0" class = "center">
    <tr *ngFor="let r of temp | paginate: { itemsPerPage: number_of_items, currentPage: p }">
        <td>
        <table border="0" >
        <div class="sample-div text background">
            <!--7x1 inner nested table-->
            <tr>
                <td>ID: {{r.id}}</td> 
            </tr>
            <tr>
                <td>UID: {{r.uid}}</td>
            </tr>
            <tr>
                <td>Blend Name: {{r.blend_name}}</td>
            </tr>
                <td>Origin: {{r.origin}}</td>
            <tr>
                <td>Variety: {{r.variety}}</td>
            </tr>
            <tr> 
                <td>Notes: {{r.notes}}</td>
            </tr>
            <tr>
                <td>Intensifier: {{r.intensifier}}</td>
            </tr>
        </div>
           </table>
    </td>
</tr>
<!--Including the pagination control.-->
</table>

<div class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>