
<table border="0" class = "center">
    <!--This control iterates through every element in the temp array (the array which holds all the retrieved data)-->
    <tr *ngFor="let coffee_record of temp | paginate: { itemsPerPage: number_of_items, currentPage: p }">
        <td>
        <table border="0" >
        <div class="sample-div text background">
            <!--7x1 inner nested table-->
            <tr>
                <td>ID: {{coffee_record.id}}</td> 
            </tr>
            <tr>
                <td>UID: {{coffee_record.uid}}</td>
            </tr>
            <tr>
                <td>Blend Name: {{coffee_record.blend_name}}</td>
            </tr>
                <td>Origin: {{coffee_record.origin}}</td>
            <tr>
                <td>Variety: {{coffee_record.variety}}</td>
            </tr>
            <tr> 
                <td>Notes: {{coffee_record.notes}}</td>
            </tr>
            <tr>
                <td>Intensifier: {{coffee_record.intensifier}}</td>
            </tr>
        </div>
           </table>
    </td>
</tr>
<!--Including the pagination control.-->
</table>

<div class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>