.title_resizing 
{    
    text-align: center;
    font-family: "Open Sans","Calibri","light";
    color:#286fb4;
    background-color: #e2f0f9;
}

/*We are using responsive design to change the title size depending on your device*/

 /*For small devices (most phones fall in this range*/
  @media only screen and (max-width: 767px) {
    .title_resizing 
    {
      font-size: 48px;
    }
  }
  
  /*For medium-sized devices (tablets and notebooks)*/
  @media only screen and (min-width: 768px) and (max-width: 1024px){
    .title_resizing
    {
      font-size: 60px;
    }
  }
  
  /* Display size for most standard laptop/desktop displays*/
  @media only screen and (min-width: 1024px) {
    .title_resizing
    {
      font-size: 72px;
    }
  } 